@{
    ViewData["Title"] = "Лабораторні";
}

<div class="container mt-5 text-center">
    <h2>Всі підпрограми</h2>
    <ul class="nav nav-tabs flex justify-content-center gap-4" id="myTabs">
        <li class="nav-item">
            <a class="nav-link" id="tab1" data-toggle="tab" target=”_blank” asp-controller="Labs" asp-action="Lab1Page">Лабораторна 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab2" data-toggle="tab" target=”_blank” asp-controller="Labs" asp-action="Lab2Page">Лабораторна 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab3" data-toggle="tab" target=”_blank” asp-controller="Labs" asp-action="Lab3Page">Лабораторна 3</a>
        </li>
    </ul>
</div>